{% extends 'base.html' %}

{% block title %} Dashboard {% endblock%}

{% block content  %}
    <h1>Welcome {{ user.username }}</h1>
    {% with total_images_created=request.user.images_created.count %}
    <p> You have posted {{ total_images_created }}
        image{{ total_images_created | pluralize }}
    </p>
    {% endwith %}

    <p>create a post
        &#8594 <a href="{% url 'images:create' %}" class="button">Post</a>
    </p>
    <p>You can edit your <a href="{% url 'edit' %}">Edit your profile</a>
    or <a href="{% url 'password_change' %}">change your password.</a>
    </p>
    <h2>What's happening</h2>
    <div id="action-list">
        {% for action in actions %}
            {% include "actions/action/detail.html" %}
        {% empty %}
            Nothing is happening yet
        {% endfor %}
    </div>
{% endblock %}