{% extends 'base.html' %}

{% block title %} Reset Your Password {% endblock %}

{% block content %}
    <h1>Reset your password </h1>
    {% if validlink %}
        <p>please enter your new password twice:</p>
        <form action="" method="post">
                {{ form.as_p }}
                <p><input type="submit" value="Change my password"></p>
                {% csrf_token %}
        </form>
    {% else %}
        <p>the password reset link was invalid, possibly because it has been used already. Please request a new password</p>
    {% endif %}
{% endblock %}