{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %} Lagosians {% endblock%}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <h1>Lagosians</h1>
    <div id="people-list">
        {% for user in users %}
            <div class="user">
                <a href="{{ user.get_absolute_url }}">
                    <img src="{% thumbnail user.profile.photo 180x180 %}" alt="">
                </a>
                <div class="info">
                    <a href="{{ user.get_abolute_url }}">
                        {{ user.get_full_name }}
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}