{% extends 'base.html' %}
{% load static %}
{% block title %}{{ image.title}}{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <h1>{{image.title}}</h1>
    {% load thumbnail %}
    {% if image.image %}
    <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 200x0 %}" alt="" class="image-detail">
    </a>
    {% else %}
    <a href="#">
        <img src="{% static 'images/no_image.png' %}" alt="" class="image-detail">
    </a>
    {% endif %}
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
    <div class="image-info">
        <div>
            <span class="count">
                {{ total_likes }} like {{ total_likes| pluralize}}
            </span>
            <span class="count">
                {{ total_views }} view {{ total_view| pluralize}}
            </span>
            <a href="" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button" id="like">
            {% if request.user not in users_like %}
                Like
            {% else %}
                Unlike
            {% endif %}
            </a>
        </div>
        {{ image.description | linebreaks }}
    </div>
    <div class="image-likes">
        {% for user in users_like %}
        <div>
            <img src="{{ user.profile.photo.url }}" alt="">
            <p>{{ user.first_name }}</p>
        </div>
        {% empty %}
            Nobody likes this image yet
        {% endfor %}
    </div>
    {% endwith %}
    
    
{% endblock %}
{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
    $.post('{% url "images:like" %}',
    {
        id: $(this).data('id'),
        action: $(this).data('action')
    },
    function(data){
        if (data['status'] == 'ok')
    {
    var previous_action = $('a.like').data('action');
    // toggle data-action
    $('a.like').data('action', previous_action == 'like' ?
    'unlike' : 'like');
    // toggle link text
    $('a.like').text(previous_action == 'like' ? 'Unlike' :
    'Like');
    // update total likes
    var previous_likes = parseInt($('span.count .total').
    text());
    $('span.count .total').text(previous_action == 'like' ?
    previous_likes + 1 : previous_likes - 1);
    }
    }
);
});
{% endblock %}