{% extends 'base.html' %}
{% load static %}
{% block title %}{{ image.title}}{% endblock %}

{% block content %}
<style>
    #comment-box{
        background-color: #eae1e1;
        width: 50%;
        height: 100vh;
        color: black;
        margin: 10px;
        overflow: auto;
    }
    .comment_image{
        height: 30px;
        width:30px;
    }
    .link-to-comment-form{
        display: block;
        margin: 10px;
    }
    .commentForm{
        display:none;
        padding: 10px;
    }
    .like-button-form,.unlike-button-form{
        display: inline;
        padding: 10px;
    }
    textarea{
        display: block;
    }
    a:hover{
        cursor: pointer;
    }
    @media(max-width: 400px){
        #comment-box{
            background-color: #eae1e1;
            width: 100%;
           
        }
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <h1>{{image.title}}</h1>
    {% load thumbnail %}
    {% if image.image %}
    <a href="{{ image.image.url }}">
        <img src="{% thumbnail image.image 200x0 %}" alt="" class="image-detail">
    </a>
    {% else %}
    <a href="#">
        <img src="{% static 'images/no_image.png' %}" alt="" class="image-detail">
    </a>
    {% endif %}
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
    
    {{ image.description | linebreaks }}
    <div class="image-info">
        <div>
            <span class="count">
                <span class="total">{{ total_likes }}</span> like{{ total_likes|pluralize}}
            </span>
            <span class="count">
                {{ total_views }} view{{ total_views|pluralize}}
            </span>
            <a href="" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button" id="like">
            {% if request.user not in users_like %}
                Like
            {% else %}
                Unlike
            {% endif %}
            </a>
        </div>   
    </div>

    <div id="comment-box" style="">
        <button class="link-to-comment-form btn-light" style="padding: 5px;">Post a comment</button>
        <form class="commentForm" method="POST">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn-lg btn-success" style="display: block;">Post</button>
        </form>
        <h2 style="padding: 10px;">{{ comments.count }} Comment{{ comments.count|pluralize}} <span></span></h2>
        {% for comment in comments %}
            <p style="padding: 10px;"><u>{{ comment.user.username}}</u>:<br>{{ comment.body }}</p>
            <div class="like-button-form" >
                <a  id='comment-like-submit' data-id="{{ comment.id }}" data-action='like' class="btn-outline-success like-comment" style="padding: 5px;">Nice: <span id="comment-like-count" class="like-count {{ comment.id }}">{{ comment.like.count }}</span></a>
            </div>
        {% empty %}
            <p style="padding: 10px;">There are no comments yet</p>
        {% endfor %}    
    </div>

    <div class="image-likes">
        <h1>People who liked this</h1>
        {% for user in users_like %}
        <div>
            <img src="{{ user.profile.photo.url }}" alt="">
            <p>{{ user.first_name }}</p>
        </div>
        {% empty %}
            Nobody likes this image yet
        {% endfor %}
    </div>
    {% endwith %}
    <script>
         //get access to the link
         let commentLink = document.querySelector('.link-to-comment-form');
         //get access to the commentform
         let commentForm = document.querySelector('.commentForm');
         // assign an eventlistener to commentLink to open the textarea after clicking
         commentLink.addEventListener('click',function(e){
             console.log('change')
             commentForm.style.display = 'block'
         })
    </script>
    
{% endblock %}
{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
    $.post('{% url "images:like" %}',
    {
        id: $(this).data('id'),
        action: $(this).data('action')
    },
    function(data){
        if (data['status'] == 'ok')
    {
        console.log('like ok')
        var previous_action = $('a.like').data('action');
        // toggle data-action
        $('a.like').data('action', previous_action == 'like' ?
        'unlike' : 'like');
        // toggle link text
        $('a.like').text(previous_action == 'like' ? 'Unlike' :
        'Like');
        // update total likes
        var previous_likes = parseInt($('span.count .total').
        text());
        $('span.count .total').text(previous_action == 'like' ?
        previous_likes + 1 : previous_likes - 1);
    }
    }
);
});
// using ajax to update the likes in the comment section
    $('a.like-comment').click(function(e){
        e.preventDefault();
    $.post('{% url "images:like_comment" %}',
    {
        id: $(this).data('id'),
        action: $(this).data('action')
    },
    function(data){
        console.log(data['status'])
        if (data['status'] == 'removed'){
            console.log(data['comment_id'])
            {% for comment in comments %}
                var cd = data['comment_id']
                var checker = data['like']
                if(cd == {{comment.id}} && checker == 'like'){
                    var getd = parseInt($('.{{comment.id}}').text());
                    $('.{{comment.id}}').text(getd - 1)
                    console.log(getd) 
                }
            {% endfor %}
        }else if(data['status'] == 'added'){
            {% for comment in comments %}
                var cd = data['comment_id']
                var checker = data['like']
                if(cd == {{comment.id}} && checker == 'like'){
                    var getd = parseInt($('.{{comment.id}}').text());
                    $('.{{comment.id}}').text(getd + 1)
                    console.log(getd) 
                }
            {% endfor %}
        }
    }
    );
    });

    
{% endblock %}


