{% load thumbnail %}
    {% for  image in images %}
    <div class="image">
        <a href="{{ image.get_absolute_url }}">
            {% thumbnail image.image 300x300 crop='smart' as im %}
            <a href="{{ image.get_absolute_url }}">
                <img src="{{ im.url }}" alt="" id="my-images">
            </a>
        </a><br><br>
        <div class="info">
            <a href="{{ image.get_absolute_url }}" class="title">
                <p>{{ image.title }}</p>
                <p>
                    {{ image.description }}
                </p>
            </a>
        </div>
    </div>
{% endfor %}
